@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");






.cardo--1 .cardo__img,
.cardo--1 .cardo__img--hover {
  background-image: url("https://images.pexels.com/photos/56733/pexels-photo-56733.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.cardo--2 .cardo__img,
.cardo--2 .cardo__img--hover {
  background-image: url("https://images.pexels.com/photos/15743490/pexels-photo-15743490/free-photo-of-small-baby-cow.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.cardo--3 .cardo__img,
.cardo--3 .cardo__img--hover {
  background-image: url("https://images.pexels.com/photos/3969316/pexels-photo-3969316.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.cardo--4 .cardo__img,
.cardo--4 .cardo__img--hover {
  background-image: url("https://images.pexels.com/photos/19453866/pexels-photo-19453866/free-photo-of-close-up-of-a-white-rabbit.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.cardo__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}



.cardo__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}
.card:hover .cardo__img--hover {
  height: 100%;
  opacity: 0.3;
}

