.b2{
    /* background-color: rgb(107, 104, 104); */
    /* background-image: linear-gradient(to bottom right, #1F1C2Cf0,#fbc7d4); */
    
    /* background-image: linear-gradient(to bottom right, #000C40,#F0F2F0); */
    background-image: url(./Img/top-5-things-not-to-say-when-a-friends-pet-dies-and-what-you-shoul.png);
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.container1
{
    height:80vh;
    width:30vw;
    display:flex;
    background-color: rgb(198, 193, 193);
    background: transparent;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    box-shadow:
  3.6px 2.4px 6.6px -20px rgba(0, 0, 0, 0.139),
  8.5px 5.6px 14.2px -20px rgba(0, 0, 0, 0.165),
  15.2px 10.1px 23.7px -20px rgba(0, 0, 0, 0.177),
  25.2px 16.7px 36.4px -20px rgba(0, 0, 0, 0.186),
  41.5px 27.5px 55.9px -20px rgba(0, 0, 0, 0.198),
  72.6px 48.1px 96.7px -20px rgba(0, 0, 0, 0.222),
  157px 104px 279px -20px rgba(0, 0, 0, 0.29)
;
border-radius: 20px;
  
}

.name
{
    width: 80%;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: rgb(252, 250, 250);
    border-radius: 7px;
}

.name:focus{
    border-bottom: 4px solid #f8a414;
    
}

.btnn
{
    outline:none;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    border-radius: 8px;
    width: 25%;
    height:5%;
    border: none;
    background-color: rgb(227, 227, 232);
    transition-duration: 0.7s;
    box-shadow:
    3.6px 2.4px 6.6px -20px rgba(0, 0, 0, 0.021),
    8.5px 5.6px 14.2px -20px rgba(0, 0, 0, 0.053),
    15.2px 10.1px 23.7px -20px rgba(0, 0, 0, 0.138),
    25.2px 16.7px 36.4px -20px rgba(0, 0, 0, 0.259),
    41.5px 27.5px 55.9px -20px rgba(0, 0, 0, 0.278),
    72.6px 48.1px 96.7px -20px rgba(0, 0, 0, 0.286),
    157px 104px 279px -20px rgba(0, 0, 0, 0.29)
  ;
    
    
}

.btnn:hover
{
    /* background-color:  rgb(120, 132, 144); */
    transform: scale(1.1);
    
}

.container1 h2
{
    color: aliceblue;
    text-shadow: 2px 2px #000000;
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
}