/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap'); */
.star {
  transform-style: preserve-3d;
  width: 3px;
  height: 3px;
  position: absolute;
  color:#f8a414;
}
.star:before {
  position: absolute;
  /* content: ''; */
  content: '🐾';

  color: inherit;
  inset: 0;
  /* text-shadow: 0 0 .9em  #f8a414; */
}
body {
  margin: 0;
  right: 0;
  padding:0;
}