body {
    background-color: #fefefe;
    font-family: Arial;
  }
  
  .lnav {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    position: fixed;
    min-height: 100vh;
    width: 2cm;
    gap: 2cm;
    background-color: #000000;
    /* text-align: center; */
  }
  .lnav .item {
    color: white;
    margin-left: .3cm;
    margin-top:1cm;
    font-size: 2em;
    text-decoration: none;
    position: relative;
  }
  .lnav .item i {
    padding: 0.5em;
  }
  .lnav .item:hover i {
    color: #ffc107;
  }
  .lnav .item::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    transform: translate(100px, -50%);
    white-space: nowrap;
    padding: 10px;
    border-radius: 10px;
    background-color: #000000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    color: #ffc107;
  }
  .lnav .item:hover::after {
    visibility: visible;
    transform: translate(10px, -50%);
    opacity: 1;
    color: #ffc107;
  }
  
  

  .button-container {
    position: fixed;
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 70px;
    align-items: center;
    justify-content: right;
    padding-right: 2cm;
    gap: 2cm;
  }
  
  .button {
    outline: 0 ;
    border: 0 ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    /* transform: translateX(-5px); */
    /* size: 20px; */
    color: #ffc107;
    font-size: 23px;
    /* border-bottom: #ffc107; */
  }
  
  .icon {
    font-size: 20px;
  }
  
